body {
    color: rgb(0, 85, 149);
    background-color: rgb(20, 37, 48)
}

h1 {
    color: rgb(0, 85, 149);
    border-style: solid;
    border-width: 5px;
    border-color:rgb(93, 151, 65);
    border-radius: 8px;
    font: 40px helvetica;
    font-style: bold;
    text-align: center;
    
}

h2, h3, h4 {
    color: rgb(93, 151, 65);
}

h2 {
    font: 34px helvetica;
}

h3 {
    font: 28px helvetica;
}

h4 {
    font: 22px helvetica;
}


p, li {
    color: rgb(196, 206, 212);
    font: 18px helvetica;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    color: rgb(93, 151, 65);
    font: 22px helvetica bold;
    padding: 8px;
    text-align: left;
    border-bottom: 1px;
}

td {
    font: 18px helvetica bold;
    padding: 8px;
    text-align: left;
    border-bottom: 1px;
    color: rgb(196, 206, 212)
}

footer {
    font-size: 1.2rem;
    font-family: sans-serif;
    line-height: 1.4;
    text-align: center;
  }
  
  a {
    outline: none;
    text-decoration: underline;
    padding: 25px 25px 0;
    color: whitesmoke;
  }
  
  a:hover {
    border-bottom: 1px solid;
    background: #4b8324;
  }

form {
    color: whitesmoke;
    font: 12px helvetica; 
  }

img:hover {
    transform: scaleX(-1);
  }